{% extends 'layout.html' %}

{% block content %}
<p>Music is generally defined as the art of arranging sound to create some combination of form, harmony, melody, rhythm
    or otherwise expressive content. Exact definitions of music vary considerably around the world, though
    it is an aspect of all human societies, a cultural universal. While scholars agree that music is defined by a
    few specific elements, there is no consensus on their precise definitions. The creation of music is commonly divided
    into musical composition, musical improvisation, and musical performance, though the topic itself extends into
    academic disciplines, criticism, philosophy, and psychology. Music may be performed or improvised using a vast range
    of instruments, including the human voice. </p>
    <p style="text-align: right; font-style: italic">
    Wikipedia
    </p>
    <br> <br>
    <p>This is our music browser for browsing tracks acquired from the music database of the Library of Congress, and
    the FMA, by M. Defferrad, K. Benzi, P. Vandergheynst, and X. Bresson. This comprehensive browser includes features
    of genre, artist, album, and title searching, as well as allowing users to log in, comment on, and favorite tracks.
    </p>
{% endblock %}